@font-face {
    font-family: pixel;
    src: url("../font/Pixellari.ttf");
}

$dark-bg: #464648;

$green: rgb(100, 255, 129);
$green-dark: rgb(0, 166, 30);
$yellow: rgb(247, 176, 8);
$orange: rgb(255, 162, 81);
$red: rgb(255, 110, 110);

$light-1: #877EF1;
$light-2: #6156EF;
$main: #3F31EC;
$dark-1: #2213E7;
$dark-2: #160AAE;

$spacer: #ececec;

$text: #fdfdfd;
$link: #FFF;