.app-container {

    min-height: 100vh;
    width: 100vw;

    margin-bottom: 2em;

    display: flex;
    flex-direction: column;

   align-items: center;

    .app-spacer {
        height: 2px;
        min-height: 2px;
        width: 80%;
        background-color: $spacer;
        margin: 2em 0em;
    }

    .app-head {
        text-align: center;
        margin-top: 2em;

        .main-title {
            font-size: 90px;
            background: -webkit-linear-gradient(0deg, $main, $light-1);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            display: flex;
            justify-content: center;

            img {
                height: 100px;
                width: auto;
                object-fit: cover;
                border-radius: 50px;
            }
        }

        .subtitle {
            font-size: 30px;
        }
    }


    .app-content {

        display: flex;
        flex-direction: column;

        .subtitle {
            text-align: center;
            text-decoration: underline;
            font-size: 32px;
            transition-duration: 0.1s;
        }

        .subtitle:hover {
            color: $light-1;
            transition-duration: 0.1s;
        }

        .projects {

            display: flex;
            flex-direction: row;

            flex-wrap: wrap;

            margin-top: 2em;

            .project {
                width: 350px;
                margin: 0px 25px;
    
                * {
                    margin-top: 5px;
                }

                .project-head {

                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    
                    h3 {
                        margin-left: 10px;
                        font-size: 24px;
                        text-decoration: underline;
                    }

                    .icon {
                        height: 32px;
                        width: 32px;
                        object-fit: cover;
                    }

                    .icon.rounded {
                        border-radius: 10px;
                    }

                    
                }
    
                .project-body{
                    font-size: 18px;

                    p {
                        height: 135px;
                        overflow: hidden;
                    }
                }

                .project-tags {
                    display: flex;
                    flex-direction: row;

                    p {
                        padding: 4px;
                        border-radius: 10px;
                        margin: 5px;
                    }
                    
                    .orange{background-color: $orange}
                    .yellow{background-color: $yellow}
                    .red{background-color: $red}
                    .green{background-color: $green-dark}

                    .light{background-color: $light-1}
                    .light-bis{background-color: $light-2}
                    .dark{background-color: $main}

                }
    
                .project-footer {
    
                    display: flex;
                    flex-direction: row;
                    align-items: baseline;

                    justify-content: space-between;
    
                }
    
            }
        }
    
        
    }

    .app-content.about {


        .subtitle {
            margin: 1em 0em;
        }

        .about-content {
            width: 70%;
            margin: auto;

            p {
                font-size: 18px;
            }
        }
    }

}

footer {

    margin-top: 4em;

    background-image: linear-gradient(90deg, $light-1, $main, $light-1);

    display: flex;
    justify-content: center;
    align-items: center;

    height: 150px;
    text-align: center;

    font-size: 20px;

}