@import './_settings';

@media screen and (min-width: 1200px) {
    @import './desktop/app';
}

@media screen and (max-width: 1200px) {
    @import './mobile/app.scss';
}

* {
    margin: 0;

    font-family: pixellari;

    // h1 {
    //     transform: scale(0.02);
    // }

    // h2 {
    //     font-size: 4em;
    // }

    // h3 {
    //     font-size: 1.3em;
    // }

    // h4 {
    //     font-size: 1em;
    // }

    // h5 {
    //     font-size: 0.8em;
    // }

    // h6 {
    //     font-size: 0.7em;
    // }

    // p {
    //     font-size: 16px;
    // }

    // a {
    //     font-size: 32px;
    // }
}